<!DOCTYPE html>
@{
    ViewBag.Title = "CustomErrorsException";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/semantic")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h2>SomeException</h2>
    <div class="title">
        <div class="ui error message" style="width:50%">
            Error.<br>
            Some thing when Wrong kindly check after few hours
        </div>
    </div>
</body>

</html>
